@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nozomi Pass</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
              <a class="navbar-item" href="~/">
                  <img src="~/icon.png" class="icon-banner" width="50" height="200">
              </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

            @if (!string.IsNullOrWhiteSpace(name))
            {
                <div id="navbarEl" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                @name
                            </a>
                    
                            <div class="navbar-dropdown">
                                <a asp-action="Logout" asp-controller="Account" class="navbar-item">
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
