@if (ViewContext.ModelState.IsValid == false)
{
    <div class="notification is-danger">
        <button class="delete"></button>
        <strong>Error</strong> <br/>
        <p asp-validation-summary="All" class="danger"></p>
    </div>
}