@using Microsoft.AspNetCore.Mvc.ModelBinding
@if (ViewContext.ModelState.IsValid == false)
{
    <div class="notification is-danger">
        @foreach (ModelStateEntry modelStateEntries in ViewContext.ModelState.Values)
        {
            @foreach (ModelError modelError in modelStateEntries.Errors)
            {
                <p>@modelError.ErrorMessage</p>
            }
        }
    </div>
}