@{
    ViewData["Title"] = "About";
}
<!-- ========== MAIN ========== -->
<main id="content" role="main">
    <!-- Hero Section -->
    <div id="SVGwave1BottomSM" class="svg-preloader position-relative bg-dark">
        <div class="d-md-flex bg-img-hero" style="background-image: url(../../assets/img/bg-shapes/bg3.png);">
            <!-- Hero Carousel -->
            <div class="js-slick-carousel u-slick container d-md-flex align-items-md-center space-top-2 space-bottom-4 space-md-4 space-lg-0 height-md-100vh"
                 data-infinite="true"
                 data-autoplay="true"
                 data-speed="7000"
                 data-fade="true">
                <div class="js-slide">
                    <!-- Slide #1 -->
                    <div class="text-center space-top-2 w-lg-60 mx-auto">
                        <div class="mb-7">
                            <h1 class="display-3 font-size-md-down-5 text-primary font-weight-semi-bold">
                                Data, anywhere.
                            </h1>
                            <p class="lead">Start knowing what the market values, all in one place.</p>
                        </div>
                        <a class="btn btn-primary btn-wide btn-pill transition-3d-hover"
                           asp-controller="Account" asp-action="Login">
                            Get Started
                        </a>
                    </div>
                    <!-- End Slide #1 -->
                </div>

                <div class="js-slide">
                    <!-- Slide #2 -->
                    <div class="text-center space-top-2 w-lg-60 mx-auto">
                        <div class="mb-7">
                            <h2 class="display-3 font-size-md-down-5 text-primary font-weight-semi-bold">Made more robust.</h2>
                            <p class="lead">In Nozomi, everything is in place. Stream any ticker anywhere, any place.</p>
                        </div>
                        <a class="btn btn-primary btn-wide btn-pill transition-3d-hover"
                           asp-controller="Account" asp-action="Login">
                            Get Started
                        </a>
                    </div>
                    <!-- End Slide #2 -->
                </div>

                <div class="js-slide">
                    <!-- Slide #3 -->
                    <div class="text-center space-top-2 w-lg-60 mx-auto">
                        <div class="mb-7">
                            <h2 class="display-3 font-size-md-down-5 text-primary font-weight-semi-bold">
                                Reconstructing data.
                            </h2>
                            <p class="lead">
                                Nozomi allows you to easily re-integrate the metrics you are looking for to
                                cater to your use cases.
                            </p>
                        </div>
                        <a class="btn btn-primary btn-wide btn-pill transition-3d-hover"
                           asp-controller="Account" asp-action="Login">
                            Get Started
                        </a>
                    </div>
                </div>
                <!-- End Slide #3 -->
            </div>
            <!-- End Hero Carousel -->

            <!-- Go to Arrow -->
            <div class="position-absolute right-0 bottom-0 left-0 text-center mb-7">
                <a class="js-go-to u-go-to-modern" href="javascript:;"
                   data-target="#featuresSection"
                   data-compensation="#header"
                   data-type="static">
                    <span class="fa fa-arrow-down u-go-to-modern__inner"></span>
                </a>
            </div>
            <!-- End Go to Arrow -->
        </div>

        <!-- SVG Background -->
        <figure class="position-absolute right-0 bottom-0 left-0">
            <img class="js-svg-injector" src="../../assets/svg/components/wave-1-bottom-sm.svg" alt="Image Description"
                 data-parent="#SVGwave1BottomSM">
        </figure>
        <!-- End SVG Background Section -->
    </div>
    <!-- End Hero Section -->

    <!-- Features Section -->
    <div id="SVGelements" class="svg-preloader">
        <!-- SVG Background -->
        <figure class="position-absolute right-0 bottom-0 left-0">
            <img class="js-svg-injector" src="../../assets/svg/components/wave-1-bottom-sm.svg" alt="Image Description"
                 data-parent="#SVGelements">
        </figure>
        <!-- End SVG Background -->

        <div class="gradient-half-primary-v3">
            <div class="container space-top-2 space-top-md-3">
                <div class="row align-items-start">
                    <div class="col-lg-5 mb-7 mb-lg-0">
                        <!-- Title -->
                        <div class="pr-md-4 mb-4">
                            <span class="btn btn-xs btn-soft-success btn-pill mb-2">Ride the train</span>
                            <h2 class="text-primary">Let's get you <span class="font-weight-semi-bold">started</span></h2>
                            <p>Start knowing how the market behaves, and gather everything you need to make your next move today.</p>
                        </div>
                        <!-- End Title -->

                        <a class="btn btn-soft-primary btn-wide btn-pill transition-3d-hover ml-1 mb-2"
                           asp-controller="Account" asp-action="Login">
                            Get Started
                        </a>
                    </div>

                    <div class="col-lg-7 mt-auto">
                        <!-- SVG Icon -->
                        <figure class="ie-app-development">
                            <img class="js-svg-injector" src="../../assets/svg/illustrations/app-development.svg" alt="SVG Illustration"
                                 data-parent="#SVGelements">
                        </figure>
                        <!-- End SVG Icon -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Features Section -->
</main>
<!-- ========== END MAIN ========== -->