@model ICollection<Nozomi.Data.Models.Currency.CurrencyType>

<!-- Content Section -->
<div class="bg-light">
    <div class="container space-2">
        <h3 class="mb-6">Currency Types</h3>

        <b-button variant="primary" class="mb-3" href="#createModal"
                  data-modal-target="#createModal">
            Create
        </b-button>

        <b-table :items="currencyTypes" :fields="dataFields">
            <template slot="name" slot-scope="datum">
                {{ datum.item.name }}
            </template>
            <template slot="typeShortForm" slot-scope="datum">
                {{ datum.item.typeShortForm }}
            </template>
            <template slot="Edit" slot-scope="datum">
                <b-button variant="primary" :href="'edit/' + datum.item.id">Edit</b-button>
            </template>
            <template slot="Delete" slot-scope="datum">
                <b-button variant="danger" v-on:click="showDeleteModal(datum.item.id, datum.item.name)">Delete</b-button>
            </template>
        </b-table>
    </div>
</div>

<!-- Two-Step Verification Modal Window -->
<div id="createModal" class="js-modal-window u-modal-window u-modal-window--payment rounded">
    <div class="card border-0">
        <!-- Header -->
        <header class="card-header bg-light py-3 px-5">
            <div class="row justify-content-between align-items-center no-gutters">
                <div class="col-8">
                    <h4 class="h6 mb-0">Create Currency Type</h4>
                </div>

                <div class="col-4 text-right">
                    <button type="button" class="close" aria-label="Close" onclick="Custombox.modal.close();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </header>
        <!-- End Header -->

        <form class="js-validate" asp-action="Create">
            <div class="card-body p-5">
                <!-- Input Group -->
                <div class="mb-4">
                    <label class="h6 small d-block text-uppercase mb-2">Name</label>
                    <div class="js-form-message">
                        <div class="input-group">
                            <input type="text" class="form-control" name="Name" placeholder="Enter a name"
                                   aria-label="Enter a name" required
                                   data-msg="Please enter your name."
                                   data-error-class="u-has-error"
                                   data-success-class="u-has-success">
                        </div>
                    </div>
                </div>
                <!-- End Input Group -->

                <!-- Input Group -->
                <label class="h6 small d-block text-uppercase mb-2">
                    Abbreviation
                </label>
                <div class="js-form-message js-focus-state">
                    <div class="input-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="TypeShortForm" required
                                   data-msg="Please enter a short form."
                                   data-error-class="u-has-error"
                                   data-success-class="u-has-success">
                        </div>
                    </div>
                </div>
                <!-- End Input Group -->
            </div>

            <!-- Card Footer -->
            <div class="card-footer py-3 px-5">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-sm btn-primary transition-3d-hover mr-1">Create</button>
                    <button type="submit" class="btn btn-sm btn-soft-secondary transition-3d-hover" onclick="Custombox.modal.close();">Cancel</button>
                </div>
            </div>
            <!-- End Card Footer -->
        </form>
    </div>
</div>
<!-- End Two-Step Verification Modal Window -->

<!-- DeleteModal -->
<b-modal ref="delete-modal" title="Confirm Delete" ok-title="Yes" ok-variant="danger" cancel-title="No" v-on:ok="handleDeleteOk" centered>
    <p>Are you sure that you want to delete {{ deleteModal.name }}?</p>
</b-modal>

@section Scripts {
    <script>
        const vm = new Vue({
            // options
            el: "#content",
            // Just dish any random variable in for now
            data: {
                dataFields: [
                    {
                        key: 'name',
                        label: 'Name',
                        sortable: true
                    },
                    {
                        key: 'typeShortForm',
                        label: 'Abbreviation',
                        sortable: true
                    },
                    {
                        key: 'Edit',
                        label: '',
                        sortable: false
                    },
                    {
                        key: 'Delete',
                        label: '',
                        sortable: false
                    }
                ],
                currencyTypes: @Html.Raw(Json.Serialize(@Model)),
                deleteModal: {
                    id: Number,
                    name: ''
                }
            },
            methods: {
                // Methods for delete modal
                showDeleteModal(id, requestName) {
                    this.deleteModal.id = id;
                    this.deleteModal.name = requestName;

                    this.$refs['delete-modal'].show();
                },
                async handleDeleteOk(bvModalEvt) {
                    bvModalEvt.preventDefault();

                    const response = await fetch(`/Admin/CurrencyType/Delete/${this.deleteModal.id}`,
                        {
                            method: 'DELETE'
                        });

                    if (response.status === 200) {
                        const data = await response.json();
                        
                        // Update the datatable
                        const index = this.requests.findIndex(element => element.Id === this.deleteModal.id);
                        this.requests.splice(index, 1);

                        alert(data.message);
                    } else {
                        alert("Delete failed");
                    }

                    this.$refs['delete-modal'].hide();
                }
            }
        });
    </script>
}