[submodule "Nozomi.Ticker/ClientApp/scripts/components/charting_library"]
	path = Nozomi.Ticker/ClientApp/scripts/components/charting_library
	url = https://github.com/tradingview/charting_library.git
