@using IdentityServer4.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nozomi.Ticker</title>
    
    <link rel="stylesheet" href="~/bundle.css" />
    @* <environment include="Development"> *@
    @*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> *@
    @*     <link rel="stylesheet" href="~/css/site.css" /> *@
    @* </environment> *@
    @* <environment exclude="Development"> *@
    @*     <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" *@
    @*           asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" *@
    @*           asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" /> *@
    @*     <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" /> *@
    @* </environment> *@
</head>
<body>
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" asp-area="" asp-controller="Home" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
            </a>
            <a class="py-2 d-none d-md-inline-block" asp-area="" asp-controller="Home" asp-action="About">About</a>
            <a class="py-2 d-none d-md-inline-block" asp-area="" asp-controller="Home" asp-action="Pricing">Pricing</a>
            <a class="py-2 d-none d-md-inline-block" asp-area="" asp-controller="Home" asp-action="Docs">Documentation</a>
          <a class="py-2 d-none d-md-inline-block" asp-area="" asp-controller="Home" asp-action="Tutorials">Tutorials</a>
          @if (User.IsAuthenticated() || Context.User.IsAuthenticated())
          {
            <a class="py-2 d-none d-md-inline-block" asp-area="" asp-controller="Home" asp-action="Tutorials">Tutorials</a>
          }        
          </div>
    </nav>

    <partial name="_CookieConsentPartial" />

        @RenderBody()
        <hr />
        <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
          <small class="d-block mb-3 text-muted">&copy; 2017-2019 - TickerBeaver</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
    
    <script src="~/core.bundle.js"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
