@model Nozomi.Data.AreaModels.v1.Source.CreateSource

<!-- Content Section -->
<div class="bg-light">
    <div class="container space-2">
        <h3 class="mb-6">Create a new source</h3>
        <form method="post">
            
            <div class="row">
                <div class="col-md-9 mb-3 mb-md-0">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input class="form-control" type="text" asp-for="Name"/>
                    </div>
                </div>
                <div class="col-md-3 mb-3 mb-md-0">
                    <div class="form-group">
                        <label asp-for="Abbreviation"></label>
                        <input class="form-control" type="text" asp-for="Abbreviation"/>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-5 mb-3 mb-md-0">
                    <div class="form-group">
                        <label asp-for="ApiDocsUrl"></label>
                        <input class="form-control" type="text" asp-for="ApiDocsUrl"/>
                    </div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>