@model Nozomi.Base.Auth.ViewModels.Account.ConfirmEmailViewModel

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Your email has been verified!
            </h1>
            <h2 class="subtitle">
                Redirecting you back, hang in there.
            </h2>
        </div>
    </div>
</section>

@section scripts
{
    <script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        window.location.replace(@Model.ReturnUrl);
    });
    </script>
}