@model Nozomi.Base.Auth.ViewModels.Account.ForgotPasswordInputModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-5 is-offset-4">
        <div class="card">
          <div class="card-content">
            <img src="~/logo.png" width="128" class="is-bottom-spaced is-1"/>
            <p class="title">Forgot your password?</p>
            <p class="subtitle">Don't worry, enter your email and we'll get you back on track</p>
            
            <partial name="_ValidationSummary" />
            
            <form asp-controller="Account" asp-action="ForgotPassword" method="post">
              <input type="hidden" asp-for="ReturnUrl" />
              
              <div class="field">
                <div class="control has-icons-left">
                  <input type="email" class="input" placeholder="Email" asp-for="@Model.Email" required />
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              
              <button type="submit" class="button is-info is-medium is-fullwidth is-bottom-spaced is-1">
                Send
              </button>
            </form>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span class="has-text-grey">
                Did you remember your password?
                <a asp-action="Login" asp-route-returnUrl="ReturnUrl">Try logging in</a>
              </span>
            </p>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>

@section Scripts {
}