@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <div class="message is-success">
                    <div class="message-body">
                        <p>
                            <strong>Email sent successfully</strong>
                        </p>
                        <p class="is-bottom-spaced">
                            Please check your email to reset your password.
                        </p>
                        <p class="has-text-left">
                            <a asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                                Back to login
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>