@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-5 is-offset-4">
                <div class="card">
                    <div class="card-content">
                        <img src="~/logo.png" width="128" class="is-bottom-spaced is-1"/>

                        <div class="message is-success has-text-left">
                            <div class="message-body">
                                <p>
                                    <strong>Email has been sent!</strong>
                                </p>
                                <p>
                                    Please check your email to reset your password.
                                </p>
                            </div>
                        </div>

                        <a asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]"
                           class="button is-info is-medium is-fullwidth">
                            Back to login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>