@model Nozomi.Base.Auth.ViewModels.Account.LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}


<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Logged out!
            </h1>
            <h2 class="subtitle">
                @if (Model.PostLogoutRedirectUri != null)
                {
                    <div>
                        Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to
                        <span>@Model.ClientName</span>.
                    </div>
                }

                @if (Model.SignOutIframeUrl != null)
                {
                    <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
                }
            </h2>
        </div>
    </div>
</section>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}