@model Nozomi.Base.Auth.ViewModels.Account.LoginViewModel
@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

@if (!string.IsNullOrEmpty(name))
{
    <section class="hero is-danger is-medium">
        <div class="hero-body">
            You're already logged in!
        </div>
    </section>
}
else
{
    <section class="hero is-medium">
        <div class="hero-body">
            <partial name="_ValidationSummary"/>

            @if (Model.UserRegistrationSuccessful)
            {
                <div class="notification is-success">
                    <h4 class="title">Your account registration is sucessful!</h4> <br/>
                    <p>
                        <b>
                            Oh and also, your email will receive a verification notification
                            for your email account so don't forget to check it out!
                        </b>
                    </p>
                </div>
            }

            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <div class="box">
                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl"/>

                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    <input class="input" placeholder="Username" asp-for="Username" autofocus>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    <input type="password" class="input" placeholder="Password" asp-for="Password">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                            @if (Model.AllowRememberLogin)
                            {
                                <div class="field login-remember">
                                    <label class="checkbox" asp-for="RememberLogin">
                                        <input asp-for="RememberLogin" type="checkbox">
                                        Remember me
                                    </label>
                                </div>
                            }
                            <button class="button is-info is-medium is-fullwidth">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                        </form>
                        <hr class="login-hr"/>
                        <form id="web3login" asp-route="login">
                            <input type="hidden" asp-for="Message"/>
                            <input type="hidden" asp-for="Address"/>
                            <input type="hidden" asp-for="Signature"/>
                            <button class="button is-medium is-fullwidth" id="metamaskBtn" value="metamask">Metamask</button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a> &nbsp;·&nbsp;
                        <a asp-action="ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl">Forgot Password</a> &nbsp;·&nbsp;
                    </p>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    <script src="~/lib/web3/web3.min.js"></script>
    <script src="~/lib/web3/metamaskAuth.js"></script>
}