@model Nozomi.Base.Auth.ViewModels.Account.LoginViewModel
@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

@if (!string.IsNullOrEmpty(name))
{
    <section class="hero is-danger is-medium">
        <div class="hero-body">
            You're already logged in!
        </div>
    </section>
}
else
{
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-5 is-offset-4">
                    <div class="card">
                        <div class="card-content">
                            <img src="~/logo.png" width="128" class="is-bottom-spaced is-1"/>
                            <p class="title">Welcome</p>
                            <p class="subtitle">Login to Nozomi to continue</p>

                            <form id="web3login" asp-route="login" class="is-bottom-spaced">
                                <input type="hidden" asp-for="Message"/>
                                <input type="hidden" asp-for="Address"/>
                                <input type="hidden" asp-for="Signature"/>
                                <button class="button is-medium is-fullwidth" id="metamaskBtn" value="metamask">
                                    <span class="icon is-small">
                                        <i class="fas fa-wallet"></i>
                                    </span>
                                    <span>Login with Wallet</span>
                                </button>
                            </form>

                            <p class="is-bottom-spaced has-text-grey-light">
                                OR
                            </p>

                            <div class="container is-bottom-spaced is-1">
                                <partial name="_ValidationSummary"/>
                                @if (Model.UserRegistrationSuccessful)
                                {
                                    <div class="notification is-success">

                                    </div>
                                }

                                <form asp-action="Login" method="post">
                                    <input type="hidden" asp-for="ReturnUrl"/>

                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input type="text" class="input" placeholder="Username" asp-for="Username" autofocus/>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input type="password" class="input" placeholder="Password" asp-for="Password" autofocus/>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <a asp-action="ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl"
                                       class="is-pulled-left is-bottom-spaced">
                                        Forgot your password?
                                    </a>

                                    <button type="submit" class="button is-info is-medium is-fullwidth is-bottom-spaced">
                                        Continue
                                    </button>

                                    @if (Model.AllowRememberLogin)
                                    {
                                        <div class="field">
                                            <label class="checkbox" asp-for="RememberLogin">
                                                <input type="checkbox" asp-for="RememberLogin"/>
                                                Remember me
                                            </label>
                                        </div>
                                    }
                                </form>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <span class="has-text-grey">
                                    Don't have an account?
                                    <a asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a>
                                </span>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    <script src="~/lib/web3/web3.min.js"></script>
    <script src="~/lib/web3/metamaskAuth.js"></script>
}