@model Nozomi.Base.Auth.ViewModels.Account.LogoutViewModel

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Logging out so soon?
            </h1>
            <h2 class="subtitle">
                <form asp-action="Logout">
                    <input type="hidden" name="logoutId" value="@Model.LogoutId"/>
                    <fieldset>
                        <button class="button is-warning is-light">Yeah</button>
                    </fieldset>
                </form>
            </h2>
        </div>
    </div>
</section>