@model Nozomi.Base.Identity.ViewModels.Areas.Manage.ApiTokens.ApiTokensViewModel

<!-- Content Section -->
<div class="bg-light">
    <div class="container space-2">
        <!-- Info -->
        <div class="mb-9">
            <h2 class="h4">
                <span class="fas fa-info-circle text-secondary" data-toggle="tooltip" data-placement="top" title="Your service would generate an API token for the application to use when requesting your service."></span>
                API Tokens
            </h2>

            <p>A script or other process can use an API token to perform basic authentication with Front Cloud applications. You must use an API token if the Htmlstream account you authenticate with has had two-step verification enabled. You should treat API tokens as securely as any other password.</p>
        </div>
        <!-- End Info -->

        <button type="submit" class="btn btn-sm btn-soft-primary transition-3d-hover">Generate a token</button>

        <!-- Table -->
        <div class="table-responsive-md u-datatable">
            <table class="js-datatable table table-bordered bg-white mb-4 u-datatable__content mt-5"
                   data-dt-info="#datatable"
                   data-dt-page-length="4"
                   data-dt-is-show-paging="true"

                   data-dt-pagination="datatablePagination"
                   data-dt-pagination-classes="pagination mb-0"
                   data-dt-pagination-items-classes="page-item"
                   data-dt-pagination-links-classes="page-link"

                   data-dt-pagination-next-classes="page-item"
                   data-dt-pagination-next-link-classes="page-link"
                   data-dt-pagination-next-link-markup='<span aria-hidden="true">»</span>'

                   data-dt-pagination-prev-classes="page-item"
                   data-dt-pagination-prev-link-classes="page-link"
                   data-dt-pagination-prev-link-markup='<span aria-hidden="true">«</span>'>
                <thead>
                <tr class="text-uppercase font-size-1">
                    <th scope="col" class="font-weight-medium">
                        <div class="d-flex justify-content-between align-items-center">
                            Label
                            <div class="ml-2">
                                <span class="fas fa-angle-up u-datatable__thead-icon"></span>
                                <span class="fas fa-angle-down u-datatable__thead-icon"></span>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="font-weight-medium">
                        <div class="d-flex justify-content-between align-items-center">
                            API Key
                            <div class="ml-2">
                                <span class="fas fa-angle-up u-datatable__thead-icon"></span>
                                <span class="fas fa-angle-down u-datatable__thead-icon"></span>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="font-weight-medium">
                        <div class="d-flex justify-content-between align-items-center">
                            Status
                            <div class="ml-2">
                                <span class="fas fa-angle-up u-datatable__thead-icon"></span>
                                <span class="fas fa-angle-down u-datatable__thead-icon"></span>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="font-weight-medium">
                        <div class="align-items-center text-right align-items-center">
                            <button type="submit" class="btn btn-sm btn-soft-secondary transition-3d-hover">Revoke All</button>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody class="font-size-1">
                <tr>
                    <th class="font-weight-normal">Front</th>
                    <td>7 July, 2018</td>
                    <td>7 July, 2018</td>
                    <td class="text-right">
                        <a href="#">Revoke</a>
                    </td>
                </tr>
                @{
                    foreach (var token in Model.ApiTokens)
                    {
                        <tr>
                            <th scope="col" class="font-weight-bold">@token.Label</th>
                            <th scope="col">@token.Key</th>
                            <th scope="col">@token.LastAccessed</th>
                            <th>
                                <a asp-controller="ApiToken" asp-action="RevokeToken" 
                                   asp-route-tokenGuid="">Revoke</a>
                            </th>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
        </div>
</div>
<!-- End Content Section -->