<!-- Content Section -->
<div class="bg-light">
    <div class="container space-2">
        <!-- Info -->
        <div class="mb-9">
            <h2 class="h4">
                <span class="fas fa-info-circle text-secondary" data-toggle="tooltip" data-placement="top" title="Your service would generate an API token for the application to use when requesting your service."></span>
                API Tokens
            </h2>

            <p>A script or other process can use an API token to perform basic authentication with Front Cloud applications. You must use an API token if the Htmlstream account you authenticate with has had two-step verification enabled. You should treat API tokens as securely as any other password.</p>
        </div>
        <!-- End Info -->

        <!-- Table -->
        <table class="table table-bordered bg-white mb-4">
            <thead>
            <tr>
                <th scope="col" class="align-middle">Label</th>
                <th scope="col" class="align-middle">Last accessed</th>
                <th scope="col" class="align-middle text-right">
                    <button type="submit" class="btn btn-sm btn-soft-secondary transition-3d-hover">Revoke All</button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" class="font-weight-normal">Front</th>
                <td>12 May, 2018</td>
                <td class="text-right">
                    <a href="#">Revoke</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="font-weight-normal">Front</th>
                <td>29 June, 2018</td>
                <td class="text-right">
                    <a href="#">Revoke</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="font-weight-normal">Front</th>
                <td>7 July, 2018</td>
                <td class="text-right">
                    <a href="#">Revoke</a>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- End Table -->

        <button type="submit" class="btn btn-sm btn-soft-primary transition-3d-hover">Revoke API Tokens</button>
    </div>
</div>
<!-- End Content Section -->