@model Nozomi.Base.Identity.ViewModels.Manage.ApiTokens.ApiTokensViewModel

<!-- Content Section -->
<div class="bg-light">
    <div class="container space-2">
        <!-- Info -->
        <div class="mb-9">
            <h2 class="h4">
                <span class="fas fa-info-circle text-secondary" data-toggle="tooltip" data-placement="top" title="Your service would generate an API token for the application to use when requesting your service."></span>
                API Tokens
            </h2>

            <p>A script or other process can use an API token to perform basic authentication with Front Cloud applications. You must use an API token if the Htmlstream account you authenticate with has had two-step verification enabled. You should treat API tokens as securely as any other password.</p>
        </div>
        <!-- End Info -->

        <a class="btn btn-sm btn-soft-primary transition-3d-hover" href="#generateTokenModal"
           data-modal-target="#generateTokenModal">Generate a token</a>
        <div id="generateTokenModal" class="js-modal-window u-modal-window" style="width: 500px;"
             data-modal-type="hashlink"
             data-speed="500">
            <form id="generateTokenForm">
                <div class="card">
                    <!-- Header -->
                    <header class="card-header bg-light py-3 px-5">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="h6 mb-0">Generate a token</h3>

                            <button type="button" class="close" aria-label="Close" onclick="Custombox.modal.close();">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </header>
                    <!-- End Header -->

                    <!-- Body -->
                    <div class="card-body p-5">
                        <div class="form-group">
                            <label for="label">Label</label>
                            <input id="label" name="label" class="form-control" placeholder="My app">
                        </div>
                    </div>
                    <!-- End Body -->

                    <!-- Footer -->
                    <div class="card-footer d-flex justify-content-end">
                        <button type="submit" class="btn btn-sm btn-primary transition-3d-hover mr-1">Generate</button>
                        <button type="button" class="btn btn-sm btn-soft-secondary transition-3d-hover"
                                onclick="Custombox.modal.close();">Close</button>
                    </div>
                    <!-- End Footer -->
                </div>
            </form>
        </div>

        <!-- Table -->
        <div class="table-responsive-md u-datatable">
            <table class="js-datatable table table-bordered bg-white mb-4 u-datatable__content mt-5"
                   data-dt-info="#datatable"
                   data-dt-page-length="4"
                   data-dt-is-show-paging="true"

                   data-dt-pagination="datatablePagination"
                   data-dt-pagination-classes="pagination mb-0"
                   data-dt-pagination-items-classes="page-item"
                   data-dt-pagination-links-classes="page-link"

                   data-dt-pagination-next-classes="page-item"
                   data-dt-pagination-next-link-classes="page-link"
                   data-dt-pagination-next-link-markup='<span aria-hidden="true">»</span>'

                   data-dt-pagination-prev-classes="page-item"
                   data-dt-pagination-prev-link-classes="page-link"
                   data-dt-pagination-prev-link-markup='<span aria-hidden="true">«</span>'>
                <thead>
                <tr class="text-uppercase font-size-1">
                    <th scope="col" class="font-weight-medium">
                        <div class="d-flex justify-content-between align-items-center">
                            Label
                            <div class="ml-2">
                                <span class="fas fa-angle-up u-datatable__thead-icon"></span>
                                <span class="fas fa-angle-down u-datatable__thead-icon"></span>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="font-weight-medium">
                        <div class="d-flex justify-content-between align-items-center">
                            API Key
                            <div class="ml-2">
                                <span class="fas fa-angle-up u-datatable__thead-icon"></span>
                                <span class="fas fa-angle-down u-datatable__thead-icon"></span>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="font-weight-medium">
                        <div class="d-flex justify-content-between align-items-center">
                            Status
                            <div class="ml-2">
                                <span class="fas fa-angle-up u-datatable__thead-icon"></span>
                                <span class="fas fa-angle-down u-datatable__thead-icon"></span>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="font-weight-medium">
                        <div class="align-items-center text-right align-items-center">
                            <button type="submit" class="btn btn-sm btn-soft-secondary transition-3d-hover">Revoke All</button>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody class="font-size-1">
                @{
                    if (Model.ApiTokens != null && Model.ApiTokens.Count > 0)
                    {
                        foreach (var token in Model.ApiTokens)
                        {
                            <tr>
                                <th scope="col" class="font-weight-bold">@token.Label</th>
                                <th scope="col">@token.Key</th>
                                <th scope="col">@token.LastAccessed</th>
                                <th>
                                    <a asp-controller="ApiToken" asp-action="RevokeToken" 
                                       asp-route-tokenGuid="">Revoke</a>
                                </th>
                            </tr>
                        }
                    }
                    }
                </tbody>
            </table>
        </div>
        </div>
</div>
<!-- End Content Section -->

@section Scripts
{
    <script>
        $(window).on('load', function() {
            $('#generateTokenForm')
                .ajaxForm({
                    url: '/api/apitoken/generatetoken', // or whatever
                    dataType: 'json',
                    success: function(response) {
                        alert("The server says: " + response);
                    }
                });
        });
    </script>
}
