@using Nozomi.Base.Core.Helpers.Enumerator
@using Nozomi.Data.Models.Currency
@model Nozomi.Data.AreaModels.v1.RequestComponent.CreateRequestComponent

@{
    var componentTypes = EnumHelper.GetEnumValuesAndDescriptions<ComponentType>();
}

<!-- Content Section -->
<div class="bg-light">
    <div class="container space-2">
        <h3 class="mb-6">Create a new currency</h3>
        <form method="post">
            <input type="hidden" asp-for="RequestId"/>

            <div class="row">
                <div class="col-md-5 mb-3 mb-md-0">
                    <div class="form-group">
                        <label asp-for="ComponentType"></label>
                        <select class="js-select selectpicker dropdown-select form-control"
                                data-style="btn-sm btn-primary" asp-for="ComponentType">
                            @foreach (var ct in componentTypes)
                            {
                                <option value="@ct.Key">@ct.Value</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 mb-3 mb-md-0">
                    <div class="form-group">
                        <label asp-for="Identifier"></label>
                        <input class="form-control" type="text" asp-for="Identifier"/>
                    </div>
                </div>
                <div class="col-md-3 mb-3 mb-md-0">
                    <div class="form-group">
                        <label asp-for="QueryComponent"></label>
                        <input class="form-control" type="text" asp-for="QueryComponent"/>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        const vm = new Vue({
            // options
            el: "#content",
            data: {
            },
            created: function() {
            },
            methods: {
            },
            mounted: function() {
            }
        });
    </script>
}