@model Nozomi.Base.Identity.ViewModels.Manage.EditProfileViewModel

<main id="content" role="main">
    <!-- Content Section -->
    <div class="bg-light">
      <div class="container space-2">
        <!-- Personal Info Form -->
        <form class="js-validate" method="post">
          <div class="row">
            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="js-form-message">
                <label asp-for="Email" class="form-label">
                  Email address
                  <span class="text-danger">*</span>
                </label>

                <div class="form-group">
                  <input type="email" class="form-control" asp-for="Email" placeholder="Enter your email address" 
                         aria-label="Enter your email address" required aria-describedby="emailLabel"
                         data-msg="Please enter a valid email address." data-error-class="u-has-error"
                         data-success-class="u-has-success">
                  <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
              </div>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="js-form-message">
                <label asp-for="Username" class="form-label">
                  Username
                  <span class="text-danger">*</span>
                </label>

                <div class="form-group">
                  <input type="text" class="form-control" asp-for="Username"
                         placeholder="Enter your username" aria-label="Enter your username" required 
                         aria-describedby="usernameLabel" data-msg="Please enter your username."
                         data-error-class="u-has-error" data-success-class="u-has-success">
                </div>
              </div>
            </div>
            <!-- End Input -->
          </div>

          <div class="row">
            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="js-form-message">
                <label id="organizationLabel" class="form-label">
                  Organization
                </label>

                <div class="form-group">
                  <input type="text" class="form-control" name="organization" placeholder="Enter your organization name" 
                         aria-label="Enter your organization name" required aria-describedby="organizationLabel"
                         data-msg="Please enter your organization name" data-error-class="u-has-error"
                         data-success-class="u-has-success">
                </div>
              </div>
            </div>
            <!-- End Input -->
            
            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="js-form-message">
                <label class="form-label">
                  Preferred language
                  <span class="text-danger">*</span>
                </label>

                <div class="form-group">
                  <select class="custom-select">
                    <option value="languageSelect1" selected>English</option>
                    <option value="languageSelect2">Français</option>
                    <option value="languageSelect3">Deutsch</option>
                    <option value="languageSelect4">Português</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- End Input -->
          </div>

          <!-- Buttons -->
          <button type="submit" class="btn btn-sm btn-primary transition-3d-hover mr-1">Save Changes</button>
          <button type="submit" class="btn btn-sm btn-soft-secondary transition-3d-hover">Cancel</button>
          <!-- End Buttons -->
        </form>
        
        <hr class="my-7">
        
        <div class="mb-3">
          <h2 class="h5 mb-0">Personal Data</h2>
          <p>Take care of your data further.</p>
        </div>
        
        <div class="row">
          <div class="col-sm-6 mb-6">
            <label class="form-label">Download your data</label>

            <!-- Input -->
            <div class="input-group">
              <form asp-controller="Manage" asp-action="DownloadPersonalData" method="post">
                <button type="submit" class="btn btn-sm btn-primary transition-3d-hover">Download</button>
              </form>
            </div>
            <!-- End Input -->
          </div>

          <div class="col-sm-6 mb-6">
            <label class="form-label">Delete your data</label>

            <!-- Input -->
            <div class="input-group">
              <form asp-controller="Manage" asp-action="DeletePersonalData" method="post">
                <div class="input-group">
                  <input type="password" class="form-control" placeholder="Enter your password" name="Password"
                         aria-label="Enter your password" data-error-class="u-has-error" data-success-class="u-has-success"
                         required>
                </div>

                <button type="submit" class="btn btn-sm btn-danger transition-3d-hover">Delete</button>
              </form>
            </div>
            <!-- End Input -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Content Section -->
    
  </main>
  <!-- ========== END MAIN ========== -->