<!-- Content Section -->
    <div class="bg-light">
      <div class="container space-2">
        <!-- Title -->
        <div class="mb-3">
          <h2 class="h5 mb-0">Your credit and debit cards</h2>
        </div>
        <!-- End Title -->

        <!-- Accordion -->
        <div id="paymentDetails" class="accordion mb-9">
          <!-- Card -->
          <div class="card">
            <div class="card-header card-collapse" id="cardHeadingOne">
              <h5 class="mb-0">
                <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                        data-toggle="collapse"
                        data-target="#cardOne"
                        aria-expanded="false"
                        aria-controls="cardOne">
                  <span class="row align-items-center">
                    <span class="col-md-6 mb-2 mb-md-0">
                      <span class="media align-items-center">
                        <img class="max-width-9 mr-3" src="../../assets/img/100x60/img1.jpg" alt="Image Description">
                        <span class="media-body">
                          <span class="font-size-1">Visa Card ending in 9909</span>
                        </span>
                      </span>
                    </span>
                    <span class="col-4 col-md-2 text-md-right">
                      <span class="btn btn-xs btn-soft-warning btn-pill">Primary</span>
                    </span>
                    <span class="col-6 col-md-3">
                      <span class="d-block font-size-1">Expires: 12/2019</span>
                    </span>
                    <span class="col-2 col-md-1 text-right">
                      <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                    </span>
                  </span>
                </button>
              </h5>
            </div>
            <div id="cardOne" class="collapse" aria-labelledby="cardHeadingOne" data-parent="#paymentDetails">
              <div class="card-body px-4">
                <!-- Card Details -->
                <div class="row">
                  <div class="col-sm-7 mb-2 mb-sm-0">
                    <h4 class="h6 mb-1">Natalie Curtis</h4>
                    <span class="d-block font-size-1 mb-1">Bank of America</span>
                    <p class="small">
                      <span class="fas fa-info-circle mr-1"></span>
                      Use this card to add funds to Your Front Balance. <a href="#">See Benefits</a>
                    </p>
                  </div>
                  <div class="col-sm-5 mb-2 mb-sm-0">
                    <h5 class="h6 mb-0">Billing address</h5>
                    <h5 class="h6">Brian Robson</h5>
                    <address class="font-size-1">
                      77408 Satterfield Motorway<br>
                      Suite 469 New Antonetta, BC K3L6P6<br>
                      New York, NY, 09122-9122<br>
                      United States
                    </address>
                    <button type="button" class="btn btn-xs btn-soft-secondary mr-1">Delete</button>
                    <button type="button" class="btn btn-xs btn-primary">Edit</button>
                  </div>
                </div>
                <!-- End Card Details -->
              </div>
            </div>
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card">
            <div class="card-header card-collapse" id="cardHeadingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                        data-toggle="collapse"
                        data-target="#cardTwo"
                        aria-expanded="false"
                        aria-controls="cardTwo">
                  <span class="row align-items-center">
                    <span class="col-md-6 mb-2 mb-md-0">
                      <span class="media align-items-center">
                        <img class="max-width-9 mr-3" src="../../assets/img/100x60/img2.jpg" alt="Image Description">
                        <span class="media-body">
                          <span class="d-block font-size-1">Master Card ending in 1421</span>
                        </span>
                      </span>
                    </span>
                    <span class="col-4 col-md-2 text-md-right">
                    </span>
                    <span class="col-6 col-md-3">
                      <span class="font-size-1">Expires: 06/2021</span>
                    </span>
                    <span class="col-2 col-md-1 text-right">
                      <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                    </span>
                  </span>
                </button>
              </h5>
            </div>
            <div id="cardTwo" class="collapse" aria-labelledby="cardHeadingTwo" data-parent="#paymentDetails">
              <div class="card-body px-4">
                <!-- Card Details -->
                <div class="row">
                  <div class="col-sm-7 mb-2 mb-sm-0">
                    <h4 class="h6 mb-1">Natalie Curtis</h4>
                    <span class="d-block font-size-1 mb-1">Payoneer</span>
                    <p class="small">
                      <span class="fas fa-info-circle mr-1"></span>
                      Use this card to add funds to Your Front Balance. <a href="#">See Benefits</a>
                    </p>
                  </div>
                  <div class="col-sm-5 mb-2 mb-sm-0">
                    <h5 class="h6 mb-0">Billing address</h5>
                    <h5 class="h6">Brian Robson</h5>
                    <address class="font-size-1">
                      9455 NE ALDERWOOD RD<br>
                      C/O UZW-FH PORTLAND OREGON 97252<br>
                      PORTLAND, OR, 97252-1777<br>
                      United States
                    </address>
                    <button type="button" class="btn btn-xs btn-soft-secondary mr-1">Delete</button>
                    <button type="button" class="btn btn-xs btn-primary">Edit</button>
                  </div>
                </div>
                <!-- End Card Details -->
              </div>
            </div>
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card">
            <div class="card-header card-collapse" id="cardHeadingThree">
              <h5 class="mb-0">
                <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                        data-toggle="collapse"
                        data-target="#cardThree"
                        aria-expanded="false"
                        aria-controls="cardThree">
                  <span class="row align-items-center">
                    <span class="col-md-6 mb-2 mb-md-0">
                      <span class="media align-items-center">
                        <img class="max-width-9 mr-3" src="../../assets/img/100x60/img3.jpg" alt="Image Description">
                        <span class="media-body">
                          <span class="d-block font-size-1">Discover ending in 4283</span>
                        </span>
                      </span>
                    </span>
                    <span class="col-4 col-md-2 text-md-right">
                    </span>
                    <span class="col-6 col-md-3">
                      <span class="text-danger font-size-1">Expired: 03/2018</span>
                    </span>
                    <span class="col-2 col-md-1 text-right">
                      <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                    </span>
                  </span>
                </button>
              </h5>
            </div>
            <div id="cardThree" class="collapse" aria-labelledby="cardHeadingThree" data-parent="#paymentDetails">
              <div class="card-body px-4">
                <!-- Card Details -->
                <div class="row">
                  <div class="col-sm-7 mb-2 mb-sm-0">
                    <h4 class="h6 mb-1">Natalie Curtis</h4>
                    <span class="d-block font-size-1 mb-1">Discover Network</span>
                    <p class="small">
                      <span class="fas fa-info-circle mr-1"></span>
                      Use this card to add funds to Your Front Balance. <a href="#">See Benefits</a>
                    </p>
                  </div>
                  <div class="col-sm-5 mb-2 mb-sm-0">
                    <h5 class="h6 mb-0">Billing address</h5>
                    <h5 class="h6">Brian Robson</h5>
                    <address class="font-size-1">
                      63703 Greenfelder Center Suite<br>
                      767 South Jennings, QC Y4E-1K9<br>
                      United States
                    </address>
                    <button type="button" class="btn btn-xs btn-soft-secondary mr-1">Delete</button>
                    <button type="button" class="btn btn-xs btn-primary">Edit</button>
                  </div>
                </div>
                <!-- End Card Details -->
              </div>
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Accordion -->

        <h3 class="h5 mb-0">Add a new payment method</h3>

        <hr class="mt-2 mb-4">

        <!-- Add Payment -->
        <div class="row align-items-center">
          <div class="col-md-6">
            <h4 class="h6 mb-0">Credit or Debit Cards</h4>
            <p class="mb-2">Amazon accepts all major credit and debit cards.</p>
            <a href="#addPaymentModal"
               data-modal-target="#addPaymentModal">Add a Card</a>
          </div>
          <div class="col-md-6 text-md-right">
            <span class="d-inline-block bg-white border rounded p-1">
              <img class="max-width-9" src="../../assets/img/100x60/img1.jpg" alt="Image Description">
            </span>
            <span class="d-inline-block bg-white border rounded p-1">
              <img class="max-width-9" src="../../assets/img/100x60/img2.jpg" alt="Image Description">
            </span>
            <span class="d-inline-block bg-white border rounded p-1">
              <img class="max-width-9" src="../../assets/img/100x60/img3.jpg" alt="Image Description">
            </span>
          </div>
        </div>
        <!-- End Add Payment -->

        <hr class="my-4">

        <!-- Add Payment -->
        <div class="row align-items-center">
          <div class="col-md-6">
            <h4 class="h6 mb-0">Online Payment services</h4>
            <p class="mb-2">Use online payment services like, PayPal, Stripe and etc.</p>
            <a href="#">One-click signin</a>
          </div>
          <div class="col-md-6 text-md-right">
            <!-- Radio Checkbox Group -->
            <div class="custom-control custom-radio custom-control-inline checkbox-outline bg-white">
              <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input checkbox-outline__input">
              <label class="checkbox-outline__label rounded p-1 mb-0" for="customRadioInline1">
                <img class="max-width-9" src="../../assets/img/100x60/img5.jpg" alt="Image Description">
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline checkbox-outline bg-white">
              <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input checkbox-outline__input">
              <label class="checkbox-outline__label rounded p-1 mb-0" for="customRadioInline2">
                <img class="max-width-9" src="../../assets/img/100x60/img4.jpg" alt="Image Description">
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline checkbox-outline bg-white">
              <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input checkbox-outline__input">
              <label class="checkbox-outline__label rounded p-1 mb-0" for="customRadioInline3">
                <img class="max-width-9" src="../../assets/img/100x60/img6.jpg" alt="Image Description">
              </label>
            </div>
            <!-- End Radio Checkbox Group -->
          </div>
        </div>
        <!-- End Add Payment -->
      </div>
    </div>
<!-- End Content Section -->

<!-- Account Modal Window -->
  <div id="addPaymentModal" class="js-modal-window u-modal-window" style="width: 480px;">
    <div class="card border-0">
      <!-- Header -->
      <header class="card-header bg-light py-3 px-5">
        <div class="row justify-content-between align-items-center no-gutters">
          <div class="col-6">
            <h4 class="h6 mb-0">Create a new payment</h4>
          </div>

          <div class="col-6 text-right">
            <button type="button" class="close" aria-label="Close" onclick="Custombox.modal.close();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </header>
      <!-- End Header -->

      <form class="js-validate">
        <div class="card-body p-5">
          <!-- Input Group -->
          <div class="form-row align-items-center mb-3">
            <div class="col-4 text-right">
              <label class="h6 small d-block text-uppercase mb-0">
                Currency
              </label>
            </div>
            <div class="col-8">
              <div class="js-form-message">
                <select class="custom-select custom-select-sm">
                  <option value="currencySelectUSD">USD - US Dollar</option>
                  <option value="currencySelectAED">AED - United Arab Emirates Dirham</option>
                  <option value="currencySelectAFN">AFN - Afghan Afghani</option>
                  <option value="currencySelectALL">ALL - Albanian Lek</option>
                  <option value="currencySelectAMD">AMD - Armenian Dram</option>
                  <option value="currencySelectANG">ANG - Netherlands Antillean Guilder</option>
                  <option value="currencySelectAOA">AOA - Angolan Kwanza</option>
                  <option value="currencySelectARS">ARS - Argentine Peso</option>
                  <option value="currencySelectAUD">AUD - Australian Dollar</option>
                  <option value="currencySelectAWG">AWG - Aruban Florin</option>
                  <option value="currencySelectAZN">AZN - Azerbaijani Manat</option>
                  <option value="currencySelectBAM">BAM - Bosnia-Herzegovina Convertible Mark</option>
                  <option value="currencySelectBBD">BBD - Barbadian Dollar</option>
                  <option value="currencySelectBDT">BDT - Bangladeshi Taka</option>
                  <option value="currencySelectBGN">BGN - Bulgarian Lev</option>
                  <option value="currencySelectBIF">BIF - Burundian Franc</option>
                  <option value="currencySelectBMD">BMD - Bermudan Dollar</option>
                  <option value="currencySelectBND">BND - Brunei Dollar</option>
                  <option value="currencySelectBOB">BOB - Bolivian Boliviano</option>
                  <option value="currencySelectBRL">BRL - Brazilian Real</option>
                  <option value="currencySelectBSD">BSD - Bahamian Dollar</option>
                  <option value="currencySelectBWP">BWP - Botswanan Pula</option>
                  <option value="currencySelectBZD">BZD - Belize Dollar</option>
                  <option value="currencySelectCAD">CAD - Canadian Dollar</option>
                  <option value="currencySelectCDF">CDF - Congolese Franc</option>
                  <option value="currencySelectCHF">CHF - Swiss Franc</option>
                  <option value="currencySelectCLP">CLP - Chilean Peso</option>
                  <option value="currencySelectCNY">CNY - Chinese Yuan</option>
                  <option value="currencySelectCOP">COP - Colombian Peso</option>
                  <option value="currencySelectCRC">CRC - Costa Rican Colón</option>
                  <option value="currencySelectCVE">CVE - Cape Verdean Escudo</option>
                  <option value="currencySelectCZK">CZK - Czech Koruna</option>
                  <option value="currencySelectDJF">DJF - Djiboutian Franc</option>
                  <option value="currencySelectDKK">DKK - Danish Krone</option>
                  <option value="currencySelectDOP">DOP - Dominican Peso</option>
                  <option value="currencySelectDZD">DZD - Algerian Dinar</option>
                  <option value="currencySelectEGP">EGP - Egyptian Pound</option>
                  <option value="currencySelectETB">ETB - Ethiopian Birr</option>
                  <option value="currencySelectEUR">EUR - Euro</option>
                  <option value="currencySelectFJD">FJD - Fijian Dollar</option>
                  <option value="currencySelectFKP">FKP - Falkland Islands Pound</option>
                  <option value="currencySelectGBP">GBP - British Pound</option>
                  <option value="currencySelectGEL">GEL - Georgian Lari</option>
                  <option value="currencySelectGIP">GIP - Gibraltar Pound</option>
                  <option value="currencySelectGMD">GMD - Gambian Dalasi</option>
                  <option value="currencySelectGNF">GNF - Guinean Franc</option>
                  <option value="currencySelectGTQ">GTQ - Guatemalan Quetzal</option>
                  <option value="currencySelectGYD">GYD - Guyanaese Dollar</option>
                  <option value="currencySelectHKD">HKD - Hong Kong Dollar</option>
                  <option value="currencySelectHNL">HNL - Honduran Lempira</option>
                  <option value="currencySelectHRK">HRK - Croatian Kuna</option>
                  <option value="currencySelectHTG">HTG - Haitian Gourde</option>
                  <option value="currencySelectHUF">HUF - Hungarian Forint</option>
                  <option value="currencySelectIDR">IDR - Indonesian Rupiah</option>
                  <option value="currencySelectILS">ILS - Israeli New Shekel</option>
                  <option value="currencySelectINR">INR - Indian Rupee</option>
                  <option value="currencySelectISK">ISK - Icelandic Króna</option>
                  <option value="currencySelectJMD">JMD - Jamaican Dollar</option>
                  <option value="currencySelectJPY">JPY - Japanese Yen</option>
                  <option value="currencySelectKES">KES - Kenyan Shilling</option>
                  <option value="currencySelectKGS">KGS - Kyrgystani Som</option>
                  <option value="currencySelectKHR">KHR - Cambodian Riel</option>
                  <option value="currencySelectKMF">KMF - Comorian Franc</option>
                  <option value="currencySelectKRW">KRW - South Korean Won</option>
                  <option value="currencySelectKYD">KYD - Cayman Islands Dollar</option>
                  <option value="currencySelectKZT">KZT - Kazakhstani Tenge</option>
                  <option value="currencySelectLAK">LAK - Laotian Kip</option>
                  <option value="currencySelectLBP">LBP - Lebanese Pound</option>
                  <option value="currencySelectLKR">LKR - Sri Lankan Rupee</option>
                  <option value="currencySelectLRD">LRD - Liberian Dollar</option>
                  <option value="currencySelectLSL">LSL - Lesotho Loti</option>
                  <option value="currencySelectMAD">MAD - Moroccan Dirham</option>
                  <option value="currencySelectMDL">MDL - Moldovan Leu</option>
                  <option value="currencySelectMGA">MGA - Malagasy Ariary</option>
                  <option value="currencySelectMKD">MKD - Macedonian Denar</option>
                  <option value="currencySelectMMK">MMK - Myanmar Kyat</option>
                  <option value="currencySelectMNT">MNT - Mongolian Tugrik</option>
                  <option value="currencySelectMOP">MOP - Macanese Pataca</option>
                  <option value="currencySelectMRO">MRO - Mauritanian Ouguiya</option>
                  <option value="currencySelectMUR">MUR - Mauritian Rupee</option>
                  <option value="currencySelectMVR">MVR - Maldivian Rufiyaa</option>
                  <option value="currencySelectMWK">MWK - Malawian Kwacha</option>
                  <option value="currencySelectMXN">MXN - Mexican Peso</option>
                  <option value="currencySelectMYR">MYR - Malaysian Ringgit</option>
                  <option value="currencySelectMZN">MZN - Mozambican Metical</option>
                  <option value="currencySelectNAD">NAD - Namibian Dollar</option>
                  <option value="currencySelectNGN">NGN - Nigerian Naira</option>
                  <option value="currencySelectNIO">NIO - Nicaraguan Córdoba</option>
                  <option value="currencySelectNOK">NOK - Norwegian Krone</option>
                  <option value="currencySelectNPR">NPR - Nepalese Rupee</option>
                  <option value="currencySelectNZD">NZD - New Zealand Dollar</option>
                  <option value="currencySelectPAB">PAB - Panamanian Balboa</option>
                  <option value="currencySelectPEN">PEN - Peruvian Sol</option>
                  <option value="currencySelectPGK">PGK - Papua New Guinean Kina</option>
                  <option value="currencySelectPHP">PHP - Philippine Peso</option>
                  <option value="currencySelectPKR">PKR - Pakistani Rupee</option>
                  <option value="currencySelectPLN">PLN - Polish Zloty</option>
                  <option value="currencySelectPYG">PYG - Paraguayan Guarani</option>
                  <option value="currencySelectQAR">QAR - Qatari Rial</option>
                  <option value="currencySelectRON">RON - Romanian Leu</option>
                  <option value="currencySelectRSD">RSD - Serbian Dinar</option>
                  <option value="currencySelectRUB">RUB - Russian Ruble</option>
                  <option value="currencySelectRWF">RWF - Rwandan Franc</option>
                  <option value="currencySelectSAR">SAR - Saudi Riyal</option>
                  <option value="currencySelectSBD">SBD - Solomon Islands Dollar</option>
                  <option value="currencySelectSCR">SCR - Seychellois Rupee</option>
                  <option value="currencySelectSEK">SEK - Swedish Krona</option>
                  <option value="currencySelectSGD">SGD - Singapore Dollar</option>
                  <option value="currencySelectSHP">SHP - St. Helena Pound</option>
                  <option value="currencySelectSLL">SLL - Sierra Leonean Leone</option>
                  <option value="currencySelectSOS">SOS - Somali Shilling</option>
                  <option value="currencySelectSRD">SRD - Surinamese Dollar</option>
                  <option value="currencySelectSTD">STD - São Tomé &amp; Príncipe Dobra</option>
                  <option value="currencySelectSVC">SVC - Salvadoran Colón</option>
                  <option value="currencySelectSZL">SZL - Swazi Lilangeni</option>
                  <option value="currencySelectTHB">THB - Thai Baht</option>
                  <option value="currencySelectTJS">TJS - Tajikistani Somoni</option>
                  <option value="currencySelectTOP">TOP - Tongan Paʻanga</option>
                  <option value="currencySelectTRY">TRY - Turkish Lira</option>
                  <option value="currencySelectTTD">TTD - Trinidad &amp; Tobago Dollar</option>
                  <option value="currencySelectTWD">TWD - New Taiwan Dollar</option>
                  <option value="currencySelectTZS">TZS - Tanzanian Shilling</option>
                  <option value="currencySelectUAH">UAH - Ukrainian Hryvnia</option>
                  <option value="currencySelectUGX">UGX - Ugandan Shilling</option>
                  <option value="currencySelectUYU">UYU - Uruguayan Peso</option>
                  <option value="currencySelectUZS">UZS - Uzbekistani Som</option>
                  <option value="currencySelectVND">VND - Vietnamese Dong</option>
                  <option value="currencySelectVUV">VUV - Vanuatu Vatu</option>
                  <option value="currencySelectWST">WST - Samoan Tala</option>
                  <option value="currencySelectXAF">XAF - Central African CFA Franc</option>
                  <option value="currencySelectXCD">XCD - East Caribbean Dollar</option>
                  <option value="currencySelectXOF">XOF - West African CFA Franc</option>
                  <option value="currencySelectXPF">XPF - CFP Franc</option>
                  <option value="currencySelectYER">YER - Yemeni Rial</option>
                  <option value="currencySelectZAR">ZAR - South African Rand</option>
                  <option value="currencySelectZMW">ZMW - Zambian Kwacha</option>
                </select>
              </div>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input Group -->
          <div class="form-row align-items-center mb-3">
            <div class="col-4 text-right">
              <label id="amountLabel" class="h6 small d-block text-uppercase mb-0">
                Amount
              </label>
            </div>
            <div class="col-8">
              <div class="js-form-message">
                <div class="input-group input-group-sm">
                  <input class="form-control" type="text" name="amount" required placeholder="$ 0.00" aria-label="$ 0.00" aria-describedby="amountLabel"
                         data-msg="Please enter a valid amount."
                         data-error-class="u-has-error"
                         data-success-class="u-has-success">
                </div>
              </div>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input Group -->
          <div class="form-row align-items-center mb-3">
            <div class="col-4 text-right">
              <label id="cardNumberLabel" class="h6 small d-block text-uppercase mb-0">
                Card number
              </label>
            </div>
            <div class="col-8">
              <div class="js-form-message">
                <div class="input-group input-group-sm">
                  <input class="form-control" type="number" name="cardNumber" required placeholder="Card number" aria-label="Card number" aria-describedby="cardNumberLabel"
                         data-msg="Please enter a valid card number."
                         data-error-class="u-has-error"
                         data-success-class="u-has-success">
                </div>
              </div>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input Group -->
          <div class="form-row align-items-center mb-3">
            <div class="col-4 text-right">
              <label id="cardholderNameLabel" class="h6 small d-block text-uppercase mb-0">
                Cardholder name
              </label>
            </div>
            <div class="col-8">
              <div class="js-form-message">
                <div class="input-group input-group-sm">
                  <input class="form-control" type="text" name="cardholderName" required placeholder="Cardholder name" aria-label="Cardholder name" aria-describedby="cardholderNameLabel"
                         data-msg="Please enter a valid cardholder name."
                         data-error-class="u-has-error"
                         data-success-class="u-has-success">
                </div>
              </div>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input Group -->
          <div class="form-row align-items-center mb-3">
            <div class="col-4 text-right">
              <label id="expiresLabel" class="h6 small d-block text-uppercase mb-0">
                Expires
              </label>
            </div>
            <div class="col-8">
              <div class="js-form-message">
                <div class="input-group input-group-sm">
                  <input class="form-control" type="number" name="expires" required placeholder="MM/YY" aria-label="MM/YY" aria-describedby="expiresLabel"
                         data-msg="Please enter a valid date."
                         data-error-class="u-has-error"
                         data-success-class="u-has-success">
                </div>
              </div>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input Group -->
          <div class="form-row align-items-center mb-0">
            <div class="col-4 text-right">
              <label id="cvcLabel" class="h6 small d-block text-uppercase mb-0">
                <span class="fas fa-info-circle" data-toggle="tooltip" data-placement="left" title="If you have a Visa or Mastercard branded credit or debit card, it'll be a 3 digit number located on the back of your card."></span>
                CVC
              </label>
            </div>
            <div class="col-8">
              <div class="js-form-message">
                <div class="input-group input-group-sm">
                  <input class="form-control" type="number" name="cvc" required placeholder="***" aria-label="***" aria-describedby="cvcLabel"
                         data-msg="Please enter a valid code."
                         data-error-class="u-has-error"
                         data-success-class="u-has-success">
                </div>
              </div>
            </div>
          </div>
          <!-- End Input Group -->
        </div>

        <!-- Buttons -->
        <div class="card-footer py-3 px-5">
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-sm btn-primary transition-3d-hover mr-1">Create Payment</button>
            <button type="submit" class="btn btn-sm btn-soft-secondary transition-3d-hover" onclick="Custombox.modal.close();">Cancel</button>
          </div>
        </div>
        <!-- End Buttons -->
      </form>
    </div>
  </div>
  <!-- End Account Modal Window -->