@using Nozomi.Service.Identity.Events.Interfaces
@using Stripe
@inject IStripeEvent StripeEvent

@{
    var plans = await StripeEvent.Plans(new PlanListOptions
    {
        Limit = 10
    });
}

<!-- Content Section -->
<div class="bg-light">
<div class="container space-2">
<div class="mb-9">
    <!-- Title -->
    <div class="mb-3">
        <h2 class="h5 mb-0">Your current plan</h2>
    </div>
    <!-- End Title -->

    <div class="card-deck d-block d-md-flex">
        <div class="card mb-4 mb-md-0">
            <!-- Card -->
            <div class="card-body p-5">
                <h4 class="h6">Front project - July 2018 <span class="btn btn-xs btn-soft-success">$250 per year</span></h4>
                <p class="font-size-1 mb-0">License purchased: <span class="text-dark font-weight-medium">1</span></p>
                <p class="font-size-1">License assigned: <span class="text-dark font-weight-medium">1</span></p>
                <a class="btn btn-xs btn-primary transition-3d-hover mr-1" href="#">Change plan</a>
                <a class="btn btn-xs btn-soft-secondary transition-3d-hover" href="#">Edit/Remove License</a>
            </div>
            <!-- End Card -->
        </div>

        <div class="card">
            <!-- Card -->
            <div class="card-body p-5">
                <h4 class="h6">Total</h4>
                <h5 class="font-weight-normal">$250/yearly</h5>
                <p class="font-size-1 mb-0">Payment method: <span class="text-dark font-weight-medium">Card ending in 9050</span></p>
                <p class="font-size-1">Will renew on: <span class="text-dark font-weight-medium">July 15, 2019</span></p>
                <a class="btn btn-xs btn-primary transition-3d-hover mr-1" href="#">Edit Payment Details</a>
                <a class="btn btn-xs btn-soft-secondary transition-3d-hover" href="#">View Invoices</a>
                <!-- End Card -->
            </div>
        </div>
    </div>
</div>

<!-- Title -->
<div class="row justify-content-between align-items-center mb-3">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <h2 class="h5 mb-0">Subscription plans</h2>
    </div>

    <div class="col-sm-6 text-sm-right">
        <div class="btn-group btn-group-toggle">
            <a class="js-animation-link btn btn-sm btn-outline-primary btn-sm-wide active" href="javascript:;"
               data-target="#pricingMonthly"
               data-link-group="idPricing">
                Monthly
            </a>
            <a class="js-animation-link btn btn-sm btn-outline-primary btn-sm-wide" href="javascript:;"
               data-target="#pricingYearly"
               data-link-group="idPricing">
                Yearly
            </a>
        </div>
    </div>
</div>
<!-- End Title -->

<div class="mb-9">
<!-- Pricing Carousel -->
<div id="pricingMonthly" data-target-group="idPricing">
    <div class="js-slick-carousel u-slick u-slick--gutters-2 z-index-2"
         data-slides-show="3"
         data-slides-scroll="1"
         data-pagi-classes="d-lg-none text-center u-slick__pagination mt-7 mb-0"
         data-responsive='[{
                   "breakpoint": 1200,
                   "settings": {
                     "slidesToShow": 3
                   }
                 }, {
                   "breakpoint": 992,
                   "settings": {
                     "slidesToShow": 2
                   }
                 }, {
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 1
                   }
                 }, {
                   "breakpoint": 554,
                   "settings": {
                     "slidesToShow": 1
                   }
                 }]'>
        <!-- Pricing -->
        <div class="js-slide">
            <div class="card">
                <!-- Header -->
                <header class="card-header bg-primary text-white text-center p-5">
                    <span class="btn btn-xs btn-soft-white mb-3">Starter</span>
                    <span class="d-block">
                        <span class="display-4 font-weight-normal">
                            <span class="align-top font-size-2">$</span>22
                        </span>
                        <span class="d-block text-white-50 font-size-1">per month</span>
                    </span>
                </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                    <ul class="list-unstyled font-size-1 mb-4">
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                Community support
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                400+ pages
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                100+ header variations
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                20+ home page options
                            </div>
                        </li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-primary transition-3d-hover">Get Started</button>
                </div>
            </div>
            <!-- End Content -->
        </div>
        <!-- End Pricing -->

        <!-- Pricing -->
        <div class="js-slide">
            <div class="card">
                <!-- Header -->
                <header class="card-header bg-primary text-white text-center p-5">
                    <span class="btn btn-xs btn-soft-white mb-3">Pro</span>
                    <span class="d-block">
                        <span class="display-4 font-weight-normal">
                            <span class="align-top font-size-2">$</span>44
                        </span>
                        <span class="d-block text-white-50 font-size-1">per month</span>
                    </span>
                </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                    <ul class="list-unstyled font-size-1 mb-4">
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                Community support
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                400+ pages
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                100+ header variations
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                20+ home page options
                            </div>
                        </li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-primary transition-3d-hover">Get Started</button>
                </div>
            </div>
            <!-- End Content -->
        </div>
        <!-- End Pricing -->

        <!-- Pricing -->
        <div class="js-slide">
            <div class="card">
                <!-- Header -->
                <header class="card-header bg-primary text-white text-center p-5">
                    <span class="btn btn-xs btn-soft-white mb-3">Enterprise</span>
                    <span class="d-block">
                        <span class="display-4 font-weight-normal">
                            <span class="align-top font-size-2">$</span>69
                        </span>
                        <span class="d-block text-white-50 font-size-1">per month</span>
                    </span>
                </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                    <ul class="list-unstyled font-size-1 mb-4">
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                Community support
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                400+ pages
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                100+ header variations
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                20+ home page options
                            </div>
                        </li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-primary transition-3d-hover">Get Started</button>
                </div>
            </div>
            <!-- End Content -->
        </div>
        <!-- End Pricing -->
    </div>
</div>
<!-- End Pricing Carousel -->

<!-- Pricing Carousel -->
<div id="pricingYearly" style="display: none; opacity: 0;" data-target-group="idPricing">
    <div class="js-slick-carousel u-slick u-slick--gutters-2 z-index-2"
         data-slides-show="3"
         data-slides-scroll="1"
         data-pagi-classes="d-lg-none text-center u-slick__pagination mt-7 mb-0"
         data-responsive='[{
                   "breakpoint": 1200,
                   "settings": {
                     "slidesToShow": 3
                   }
                 }, {
                   "breakpoint": 992,
                   "settings": {
                     "slidesToShow": 2
                   }
                 }, {
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 1
                   }
                 }, {
                   "breakpoint": 554,
                   "settings": {
                     "slidesToShow": 1
                   }
                 }]'>
        <!-- Pricing -->
        <div class="js-slide">
            <div class="card">
                <!-- Header -->
                <header class="card-header bg-primary text-white text-center p-5">
                    <span class="btn btn-xs btn-soft-white mb-3">Starter</span>
                    <span class="d-block">
                        <span class="display-4 font-weight-normal">
                            <span class="align-top font-size-2">$</span>242
                        </span>
                        <span class="d-block text-white-50 font-size-1">per month</span>
                    </span>
                </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                    <ul class="list-unstyled font-size-1 mb-4">
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                Community support
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                400+ pages
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                100+ header variations
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                20+ home page options
                            </div>
                        </li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-primary transition-3d-hover">Get Started</button>
                </div>
            </div>
            <!-- End Content -->
        </div>
        <!-- End Pricing -->

        <!-- Pricing -->
        <div class="js-slide">
            <div class="card">
                <!-- Header -->
                <header class="card-header bg-primary text-white text-center p-5">
                    <span class="btn btn-xs btn-soft-white mb-3">Pro</span>
                    <span class="d-block">
                        <span class="display-4 font-weight-normal">
                            <span class="align-top font-size-2">$</span>442
                        </span>
                        <span class="d-block text-white-50 font-size-1">per month</span>
                    </span>
                </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                    <ul class="list-unstyled font-size-1 mb-4">
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                Community support
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                400+ pages
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                100+ header variations
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                20+ home page options
                            </div>
                        </li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-primary transition-3d-hover">Get Started</button>
                </div>
            </div>
            <!-- End Content -->
        </div>
        <!-- End Pricing -->

        <!-- Pricing -->
        <div class="js-slide">
            <div class="card">
                <!-- Header -->
                <header class="card-header bg-primary text-white text-center p-5">
                    <span class="btn btn-xs btn-soft-white mb-3">Enterprise</span>
                    <span class="d-block">
                        <span class="display-4 font-weight-normal">
                            <span class="align-top font-size-2">$</span>1089
                        </span>
                        <span class="d-block text-white-50 font-size-1">per month</span>
                    </span>
                </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                    <ul class="list-unstyled font-size-1 mb-4">
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                Community support
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                400+ pages
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                100+ header variations
                            </div>
                        </li>
                        <li class="media py-2">
                            <span class="fas fa-info-circle text-muted mt-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="Understanding the task at hand and ironing out the wrinkles is key."></span>
                            <div class="media-body">
                                20+ home page options
                            </div>
                        </li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-primary transition-3d-hover">Get Started</button>
                </div>
            </div>
            <!-- End Content -->
        </div>
        <!-- End Pricing -->
    </div>
</div>
<!-- End Pricing Carousel -->
</div>
</div>
</div>