@using Newtonsoft.Json
@model Nozomi.Data.ResponseModels.Currency.AbbrvUniqueCurrencyResponse

    <!-- Description Section -->
    <div id="partialView" class="container space-2 space-top-md-4 space-bottom-md-3">
      @if (Model != null)
      {
      <div class="row">
        <div class="col-lg-7 mb-7 mb-lg-0">
          <!-- Cubeportfolio -->
          <div class="cbp"
               data-layout="grid"
               data-animation="quicksand"
               data-x-gap="32"
               data-y-gap="32"
               data-media-queries='[
                {"width": 300, "cols": 1}
              ]'>
            <!-- Item -->
            <div class="cbp-item">
              <div class="cbp-caption">
                <img class="rounded" src="../../assets/img/600x600/img1.jpg" alt="Image Description">
              </div>
            </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="cbp-item">
              <div class="cbp-caption">
                <img class="rounded" src="../../assets/img/600x600/img2.jpg" alt="Image Description">
              </div>
            </div>
            <!-- End Item -->
          </div>
          <!-- End Cubeportfolio -->
        </div>

        <div id="stickyBlockStartPoint" class="col-lg-5">
          <!-- Sticky Block -->
          <div class="js-sticky-block pl-lg-4"
               data-parent="#stickyBlockStartPoint"
               data-sticky-view="lg"
               data-start-point="#stickyBlockStartPoint"
               data-end-point="#stickyBlockEndPoint"
               data-offset-top="80"
               data-offset-bottom="130">
            <div class="mb-6">
              <h1 class="h4 text-primary font-weight-semi-bold">{{ currency.Name }}</h1>
              <p class="mb-0">Displaying this large amount of content in a smooth and seamless way was quite a challenge. By loading assets in the background, playing and stopping audio on the fly, parallaxing hotspots, and use of large images we succeeded in giving the user a smooth experience.</p>
            </div>

            <hr class="my-5">

            <!-- List -->
            <ul class="list-unstyled mb-0">
              <li class="media mb-1">
                <div class="d-flex w-40 w-sm-30">
                  <h3 class="h6">Abbreviation</h3>
                </div>
                <div class="media-body">
                  <small class="text-muted">
                    {{ currency.Abbreviation }}
                  </small>
                </div>
              </li>

              <li class="media mb-1">
                <div class="d-flex w-40 w-sm-30">
                  <h3 class="h6">Client</h3>
                </div>
                <div class="media-body">
                  <small class="text-muted">
                    Htmlstream
                  </small>
                </div>
              </li>

              <li class="media mb-1">
                <div class="d-flex w-40 w-sm-30">
                  <h3 class="h6">Client</h3>
                </div>
                <div class="media-body">
                  <small class="text-muted">
                    Htmlstream
                  </small>
                </div>
              </li>

              <li class="media mb-1">
                <div class="d-flex w-40 w-sm-30">
                  <h4 class="h6">Designers</h4>
                </div>
                <div class="media-body">
                  <small class="text-muted">
                    Maria Muszynska,
                  </small>
                  <small class="text-muted">
                    Jack Wayley
                  </small>
                </div>
              </li>

              <li class="media">
                <div class="d-flex w-40 w-sm-30">
                  <h4 class="h6">Sources</h4>
                </div>
                <div class="media-body">
                  <small class="d-block text-muted" v-for="source in currency.CurrencySources">
                    {{ source.Name }}
                  </small>
                  <small class="d-block text-muted mb-1" v-else>
                    {{ source.Name }}
                  </small>
                </div>
              </li>

              <li class="media">
                <div class="d-flex w-40 w-sm-30">
                  <h4 class="h6">Ticker Pairs</h4>
                </div>
                <div class="media-body">
                  <small class="d-block text-muted mb-1">
                    Awwwards Site of the Day
                  </small>
                  <small class="d-block text-muted mb-1">
                    CSSAwards Site of the Day
                  </small>
                  <small class="d-block text-muted">
                    Bronze ADCN Lamp (Digital Craft)
                  </small>
                </div>
              </li>
            </ul>
            <!-- End List -->

            <hr class="my-5">

            <div class="media">
              <div class="d-flex w-40 w-sm-30">
                <h4 class="h6">Share</h4>
              </div>
              <div class="media-body">
                <!-- Social Networks -->
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
                      <span class="fab fa-facebook-f btn-icon__inner"></span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
                      <span class="fab fa-google btn-icon__inner"></span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
                      <span class="fab fa-twitter btn-icon__inner"></span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
                      <span class="fab fa-github btn-icon__inner"></span>
                    </a>
                  </li>
                </ul>
                <!-- End Social Networks -->
              </div>
            </div>
          </div>
          <!-- End Sticky Block -->
        </div>
      </div>
      }
    </div>
    <!-- End Description Section -->
  
  @section Scripts
{
  <script>
    const vm = new Vue({
      // options
      el: "#partialView",
      // Just dish any random variable in for now
      data: {
        currency: @Html.Raw(Json.Serialize(Model, new JsonSerializerSettings
                  {
                   ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                  }))
      },
      created: function() {
      },
      methods: {
      },
      mounted: function() {
      }
    });
  </script>
}